<div class="container-fluid py-5">
    <div class="row align-items-center text-center">


        <div class="col-md-4">
            <img src="~/images/picture1.jpg" class="img-fluid w-90" alt="Left Image">
        </div>

        <div class="col-md-3">
            <h1 class="display-1 fw-bold"> To Do List</h1>
            <p class="fs-3 text-secondary">To Do gives you focus, from work to play.</p>

            <div class="mt-5">
                <button class="btn btn-primary btn-lg px-5 py-3 fs-3">Get started</button>
            </div>
            <a href="#" class="d-block mt-4 fs-5 text-decoration-none">Learn more</a>
        </div>


        <div class="col-md-4">
            <img src="~/images/picture2.jpg" class="img-fluid w-90" alt="Right Image">
        </div>

    </div>
</div>