@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = "_Layout";
}


<div class="container-fluid py-5">
    <div class="row align-items-center text-center">

        <div class="col-md-4">
            <img src="~/images/picture1.jpg" class="img-fluid w-100" alt="Left Image">
        </div>

        <div class="col-md-3">
            <h1 class="display-2 fw-bold"> To Do List</h1>
            <p class="fs-4 text-secondary">To Do gives you focus, from work to play.</p>

            <div class="mt-5">
             <a asp-controller="Register" asp-action="Index" class="btn btn-primary btn-lg px-5 mt-3">Register</a>
             <a asp-controller="Login" asp-action="Index" class="btn btn-primary btn-lg px-5 mt-3">Login</a>


             
            </div>
            
        </div>

       
        <div class="col-md-4">
            <img src="~/images/picture2.jpg" class="img-fluid w-100" alt="Right Image">
        </div>

    </div>
</div>